.bg_video {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: cover;
}

.container {
    .solgen {
        width: 20rem;
        margin: 0 auto;
        padding: 1.5rem 2rem 0 2rem;
        display: flex;

        i{
                font-family: fifa;
                -webkit-text-stroke: 1px white;
                color: transparent;
                font-style: normal;
                position: fixed;
                white-space: nowrap;
                top: 1.5rem;
                left: 0;
                font-size: 1.5rem;
                opacity: 0.4;
                width: max-content;
                animation: 100s wordsLoop linear infinite
        }

        >div {
            display: flex;
            flex-direction: row;
            height: 100%;
            align-items: center;
            justify-content: space-between;
            overflow: inherit;
        }

        .solgen_content {
            float: left;
            width: 9rem;

            .text {
                height: 4rem;
                .solgen_logo {
                    background: url(../public/home/solgen_logo.png) no-repeat center/100% auto;
                    float: left;
                    width: 2.5rem;
                    height: 3.1rem;
                }

                h1 {
                    color: #CCFD0A;
                    font-size: 0.6rem;
                    padding-left: 3rem;
                }

                h2 {
                    font-size: 0.3rem;
                    padding-left: 3rem;
                    margin-top: 0.4rem;
                }
            }

            .team {
                width: 100%;
                height: 1rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: center;
                align-items: center;
                .team_swiper {
                    height: 1rem;

                    .team_list {
                        height: 1rem;

                        @for $i from 1 to 20 {
                            &:nth-child(#{$i}) {
                                background: url(../public/home/team#{$i}.png) no-repeat center/auto 80%;
                            }
                        }
                    }
                }

                button {
                    border: 1px solid #CCFD0A;
                    border-right: 2px solid #CCFD0A;
                    color: #CCFD0A;
                    background: none;
                    padding: 0.1rem 0.3rem;
                    font-family: fifa;
                    font-size: 0.25rem;
                    height: 0.5rem;
                    white-space: nowrap;
                    margin-left: 0.5rem;
                    cursor: pointer;
                    transition: 0.5s;
                    &:hover{
                        background: #CCFD0A;
                        color: #081d27;
                    }
                }
            }
        }

        .video {
            width: 6rem;
            height: 4.9rem;
            float: right;

            .video_warpper {
                .swiper_silde {
                    height: 3.8rem;
                    border: 2px solid #CCFD0A;
                    border-radius: 3px;
                    overflow: hidden;
                }
            }

            .swiper_silde_thumbs {
                height: 0.9rem;
                border: 2px solid #CCFD0A;
                border-radius: 3px;
                overflow: hidden;
            }
        }
    }

    .what_is_ffc {
        width: 20rem;
        margin: 0 auto;
        padding: 1.5rem 2rem 0 2rem;
        .title{
            background: url(../public/home/what_is_ffc_title.png) no-repeat left center/auto 100%;
            height: 0.6rem;
            display: block;
            position: relative;
            margin-bottom: 0.5rem;
            i{
                background: url(../public/home/what_is_ffc_subtitle.png) no-repeat center/auto 100%;
                position: absolute;
                height: 0.6rem;
                width: 6.4rem;
                top: 0.3rem;
                left: 0.8rem;
            }
        }
        .content{
            .swiper_silde{
                text-align: left;
                font-size: 0.25rem;
                line-height: 1.7em;
                height: 4rem;
            }
            .swiper_silde_thumbs{
                position: relative;
                height: 2.5rem;
                img{
                    height: 1.5rem;
                    width: 100%;
                    object-fit:fill;
                }
                i{
                    position: absolute;
                    color: #CCFD0A;
                    font-family: Nofex;
                    font-style: normal;
                    font-size: 0.4rem;
                    white-space: nowrap;
                    top: 2.1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .container {}
}

@keyframes bounce {
    0% {
        margin-top: 0;
    }

    100% {
        margin-top: 50px;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes shadow {
    0% {
        box-shadow: 0 0 10px #ccfd0ac6;
        border-radius: 50%;
        transform: rotate3d(0, 1, 0, 0deg);
    }

    40% {
        box-shadow: 0 0 10px #ccfd0ac6;
        border-radius: 50%;
        transform: rotate3d(0, 1, 0, 0deg);
    }

    70% {
        box-shadow: 0 0 10px #ccfd0ac6;
        border-radius: 50%;
        transform: rotate3d(0, 1, 0, -360deg);
    }

    100% {
        box-shadow: 0 0 100px #ccfd0ac6;
        border-radius: 50%;
        transform: rotate3d(0, 1, 0, -360deg);
    }
}

@keyframes rainbow {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes rainbow2 {
    0% {
        filter: hue-rotate(180deg);
    }

    100% {
        filter: hue-rotate(540deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate3d(0, 1, 0, 0deg);
    }

    100% {
        transform: rotate3d(0, 1, 0, -180deg);
    }
}

@keyframes wordsLoop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-70%);
    }
}