@font-face {
    font-family: Product;
    src: url(../public/font/Product-Sans-Regular-2.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Product_Bold;
    src: url(../public/font/Product-Sans-Bold-3.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

.header {
    width: 20rem /* 1200/60 */;
    margin: 0 auto;
    position: relative;
    z-index: 999;
    overflow: hidden;
    .navbar {
        padding: .366667rem /* 22/60 */ .333333rem /* 20/60 */;
        .logo {
            background: url(../public/layout/logo.png) no-repeat center/100% auto;
            float: left;
            width: 2rem /* 120/60 */;
            height: .666667rem /* 40/60 */;
        }
        ul{
            float: left;
            font-family: Product;
            margin-left: .666667rem /* 40/60 */;
            li{
                display: inline-block;
                font-size: .266667rem /* 16/60 */;
                color: #fff;
                padding: .133333rem /* 8/60 */ .416667rem /* 25/60 */;
                margin: 0 .166667rem /* 10/60 */;
                cursor: pointer;
                border: .033333rem /* 2/60 */ solid transparent;
                border-radius: .583333rem /* 35/60 */;
                vertical-align: top;
                &.active, &:hover{
                    // border: .033333rem /* 2/60 */ solid #fff;
                    color: #ccfd0a;
                }
            }
        }
    }
    .wallet{
        float: right;
    }
}

.main{
    position: relative;
    overflow: hidden;
    margin-top: -1.883333rem /* 113/60 */;
}

.footer{
    font-size: .333333rem /* 20/60 */;
    width: 20rem /* 1200/60 */;
    margin: 0 auto;
    .copyright{
        font-size: .233333rem /* 14/60 */;
        color: #fff;
        overflow: hidden;
        background: #032562;
        padding: .166667rem /* 10/60 */ .333333rem /* 20/60 */;
        .inner{
            width: 100%;
            margin: 0 auto;
        }
        span{
            &:first-child {
                float: left;
            }
            &:last-child{
                float: right;
            }
        }
    }
}